<p>
  child1 works!
</p>
<button type="button" class="btn btn-default" (click) = "emitToParent()" >Emit to parent</button>
<br>
<div class="container">
  <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="row" >No</th>
            <th scope="row">Driver</th>
            <th scope="row">Country</th>
            <th scope="row">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let item of parentObj;let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.Driver}}</td>
            <td>{{item.Country}}</td>
            <td style="cursor:pointer;color:red" (click) = deleteMe(i) > ( X ) </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
