<h1>
    Welcome to {{title}}!
  </h1>
  <button type="button" class="btn btn-default" (click) = "addDriver()"> ( + ) Add Driver</button>

  <button 
    type="button" 
    class="btn btn-primary"
    (click) = "getData()"
   >
    Get Data Generic
  </button>

  <button 
    type="button" 
    class="btn btn-primary"
    (click) = "showDrivers()"
    *ngIf = "!isShowDrivers">
    Show Drivers List
  </button>
  <button 
    type="button" 
    class="btn btn-primary"
    (click) = "showDrivers()"
    *ngIf = "isShowDrivers">
    Hide Drivers List
  </button>
  <button 
    type="button" 
    class="btn btn-info"
    (click) = "Router_3Go()">
    Directly Route to 'Router_3'
  </button>


<!-- Child1 Component -->
  <app-child1
    (childData) = "handleChildData($event)" 
    [parentObj] = "mainData"
    [onChangeTest] = "changeData"
    
  >
  </app-child1>