<div class="mTop20  container">
    <div class="row">
        <div class="centerMe col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><a href="#"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form novalidate [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit(signUpFormGroup)">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" formControlName="firstName" placeholder="First Name" type="text" />
                        <div class="error" *ngIf="signUpFormGroup.get('firstName').hasError('required') && signUpFormGroup.get('firstName').touched">
                            First Name is required
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text" />
                        <div class="error" *ngIf="signUpFormGroup.get('lastName').hasError('required') && signUpFormGroup.get('lastName').touched">
                            Last Name is required
                        </div>
                    </div>
                </div>
                <div>
                    <input class="form-control" formControlName="email" placeholder="Enter your email" type="text" />
                    <div class="error" *ngIf="signUpFormGroup.get('email').hasError('required') && signUpFormGroup.get('email').touched">
                        Email is required
                    </div>
                     <div class="error" *ngIf="signUpFormGroup.get('email').hasError('pattern') && signUpFormGroup.get('email').touched">
                        Enter correct email
                    </div>
                </div>
                <div>
                    <input class="form-control" formControlName="re_email" placeholder="Re-Enter your email" type="text" />
                    <div class="error" *ngIf="signUpFormGroup.get('re_email').hasError('required') && signUpFormGroup.get('re_email').touched">
                        Re-email is required
                    </div>
                    <div class="error" *ngIf="signUpFormGroup.get('re_email').hasError('pattern') && signUpFormGroup.get('re_email').touched">
                        Enter correct email
                    </div>
                </div>
                <div>
                    <input class="form-control" formControlName="password" placeholder="Password" type="password" />
                    <div class="error" *ngIf="signUpFormGroup.get('password').hasError('required') && signUpFormGroup.get('password').touched">
                        Password is required
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="gender">
                Birth Date</label></div>
                    <div class="col-md-9">
                        <input class="form-control" type="text" formControlName="dob" />
                    </div>
                    <div class="error" *ngIf="signUpFormGroup.get('dob').hasError('required') && signUpFormGroup.get('dob').touched">
                        Date of Birth is required
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="inlineCheckbox">
                Gender</label></div>
                    <div class="col-md-6"> <label class="radio-inline">
                        <input type="radio" id="inlineCheckbox" formControlName="gender" value="male" />
                        Male
                  </label>
                        <label class="radio-inline">
                      <input type="radio" id="inlineCheckbox" formControlName="gender" value="female" />
                        Female
                </label>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-lg btn-primary btn-block" [disabled]="signUpFormGroup.invalid" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>