.dropdown-menu-multi{
    position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
        .selectAllLi{
            display: block;
            color: tomato;
            padding-left: 6px;
        }

        .multiTextLabel{
            display: block;
            font-weight: normal!important;
            padding-left: 6px;
        }
        .text-input-wrapper {
  border:1px solid #a2a2a2;
  padding:1px 6px 1px 1px;
  display:inline-block;
  margin: 6px;
    margin-top: 3px;
}
.text-input-wrapper input {
  border:none;
  background:none;
  outline:none;
  padding:0 0;
  margin:0 0;
  font:inherit;
}
.text-input-wrapper span {
  cursor:pointer;
  color:#a2a2a2;
  font-size: 10px;
  visibility:hidden;
}